.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 42px 28px;
  background-color: var(--gray100);
}

.logo {
  flex-shrink: 0;
  margin: 0 0 0 14px;
}

.rightSide {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  min-width: 432px;
  max-width: 540px;

  & > img {
    width: 100%;
  }
}

.content {
  min-width: 444px;
  max-width: 444px;
  margin-left: 92px;
}
