.content {
  display: flex;
  width: 100%;
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.3);
  padding: 16px 0px;
}

.text {
  overflow: hidden;
  max-height: 72px;
  margin: 0 20px 0 0;
  font-size: 15px;
  line-height: 24px;
  white-space: pre-line;
}
