.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-36 {
  margin-top: 36px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-52 {
  margin-top: 52px;
}

.mt-56 {
  margin-top: 56px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-56 {
  margin-bottom: 56px;
}

.ml-0 {
  margin-left: 0;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-36 {
  margin-left: 36px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-52 {
  margin-left: 52px;
}

.ml-56 {
  margin-left: 56px;
}

.mr-0 {
  margin-right: 0;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-28 {
  margin-right: 28px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-36 {
  margin-right: 36px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-52 {
  margin-right: 52px;
}

.mr-56 {
  margin-right: 56px;
}

.p-12 {
  padding: 12px;
}

.pt-0 {
  padding-top: 0;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-28 {
  padding-top: 28px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-52 {
  padding-top: 52px;
}

.pt-56 {
  padding-top: 56px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-36 {
  padding-bottom: 36px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-52 {
  padding-bottom: 52px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pl-0 {
  padding-left: 0;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-28 {
  padding-left: 28px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-36 {
  padding-left: 36px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-52 {
  padding-left: 52px;
}

.pl-56 {
  padding-left: 56px;
}

.pr-0 {
  padding-right: 0;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-28 {
  padding-right: 28px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-36 {
  padding-right: 36px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-52 {
  padding-right: 52px;
}

.pr-56 {
  padding-right: 56px;
}
